

body {
  margin: 0;
  display : flex;
  justify-content: center;
  align-items: center;
  background-image:  url('../public/516442d1d96c2e7e0d95c19f46bdd570--pokemon-trees.jpg') ;

  /* //animation: background 4s linear infinite ;
    la imagen de fondo debe tener un movimiento lineal infinito 
  */
  

  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @keyframes background{
  0% {
    margin-left: 0;
  }
  15%{
    margin-left: -50%;
  }
  25%{margin-left: -100%;}
  45%{margin-left: -150%;}

  50%{margin-left: -200%;}
  100%{margin-left: -250%}


} */

#root{

    margin-top: 35px;
    height: 52rem;
    width: 92rem;
    background-color:red;
    border: 3px black solid;

    
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
