

body {
  margin: 0;
  display : flex;
  justify-content: center;
  

  
  
  
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body #backGroundImage{
  background-image:  url('../public/516442d1d96c2e7e0d95c19f46bdd570--pokemon-trees.jpg') ;
  height: 60.8rem;
  width: 100%;
   animation: image 15s linear infinite; 

  
    /* //animation: background 4s linear infinite ;
      la imagen de fondo debe tener un movimiento lineal infinito 
    */
} 

@keyframes image{
  0% {
     padding-left: 1000px;
     padding-right: 1000px;
     margin-left: -900px;
     left: 200px;
    }
  25%{
    left: 400px;
  }
  50%{
    
    left: 600px;
    }
  75%{
    left: 800px;
  }
  100%{
  left:  1000px;

  }

} 

body #root{
    position: absolute;
    margin-top: 35px;
    height: 52rem;
    width: 92rem;
    background-color:red;
    border: 3px black solid;

    
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
