

body {
  margin: 0;
  display : flex;
  justify-content: center;
  

  background-image:  url('../public/516442d1d96c2e7e0d95c19f46bdd570--pokemon-trees.jpg') ;
  background-size: cover;
  height: 100%;
  width: 100%;
  animation: move-image 10s linear infinite; 
  
  
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@keyframes move-image{
  from{
    background-position: 0 0;
  } to {
    background-position: -1000px 0;
  }

} 

body #root{
    position: absolute;
    margin-top: 35px;
    height: 52rem;
    width: 92rem;
    background-color:red;
    border: 4px black solid;
    border-bottom: 35px rgb(196, 10, 10) solid;
    border-right: 15px rgb(196,10, 10) solid;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
