.cardContainer{
    background-color: aliceblue;
    height: 20rem;
    border: 5px;
    border-color: black;
    border-radius:25px;
    
}

.cardContainer:hover{
    width: 120px;
    height: 22rem;
    border-radius: 40px;
    font-size: 16px;
    
    
}

.pokeImage{
    height: 100px;
    width: 100px;   
}

.pokeImage:hover{
    height: 125px;
    width: 125px;
    border-radius: 15px;
}
.id{
    position: relative;
    top: 15px;
    height: 10px;
}


.name{
    text-transform: capitalize;
    height: 30px;
    margin-top: 5px;

}


.types{
    list-style: none;
    position: relative;
    right: 20px;
    text-decoration: none;
    text-transform: capitalize;
    height: 30px;
}


.attackPoints{
    font-size: 1rem;
    height: 30px;
    margin: 0;
}
