.containerMain{
    margin: 25px;
    height: 55rem;
    background-color: fuchsia;
    opacity: 0.8;
    border-radius: 25px;
}

.buttonBack{
    height: 50px;
    font-size: 15px;
    border-radius: 25px;
    
}
.nav{
    background-color:blueviolet;
    display: flex;
    justify-content: space-around;
    height: 80px;
    top: 10px;
    padding: 20px;
    border-radius: 50px;
    /* fallo */
}

.options{
    margin: 5px;
    padding: 0;
    display: flex;
}

.searchContainer{
    padding: 1px;
}
.searchInput{
    height: 30px;
    width: 125px;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 16px;
}

.searchButton{
    position: relative;
    top: 1px;
    height: 36px;
    border-top-right-radius: 16px ;
    border-bottom-right-radius: 16px;
}

.suggestion{
    position: relative;
    bottom: 16px;
    background-color: brown;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 5px;
    list-style: none;
    width: 90px;
    left: 3px;

    
    
}
.suggestionButton{
    background-color: brown;
    border: hidden;
    padding-bottom: 5px;
    color:aliceblue;
}

.suggestionButton:hover{
    background-color:black;
    border-radius: 10px;
    padding: 2px;
}

.orderButton{
    border-radius: 20px;
   height: 36px;
}

.selectAlfaOrder{
    border-radius: 10px;
    height: 36px;
}
/* agregar estilos a los tag select y sus options, investigar  */

.selectFilters{
    border-radius: 10px;
    height: 36px;
}


.filtersButtons{
    border-radius: 10px;
    height: 37px;
}

.createButton{
    border-radius: 10px;
    height: 37px;
}

.baseSelected{
    margin: 25px 0px 25px 0px;
    border: 2px;
    border-color: black;
    border-style: dashed;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;

}
.typeSpanSelected{
    padding-right: 20px;
    text-transform: capitalize;
}

.pagination{
    margin: 30px;
    height: 50%;
    border: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;

}

.buttonCard{
    border-style: hidden;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.7);

}
.link{
    text-decoration: none;
}

.containerPrev_Next{
    margin: 25px;
    display: flex;
    justify-content: space-between; 

}

.buttonPrev_Next{
    height: 35px;
    


}